{% extends 'index.html' %}
{% load comments %}

{% block page-content%}
<div class="contents">
<h3>{{ bbs_obj.title}}</h3>
<br>
    {{bbs_obj.content|safe}}
    <br/>
    <a type="font-size:20px;">---by:{{bbs_obj.author}}</a>
</div>
<hr/>
    <div >
        {% get_comment_count for bbs_obj as comment_count %}
        <span class="glyphicon glyphicon-comment">
        </span>
         {{comment_count}}
    </div>
    {%if user.is_authenticated%}
        <form action="/sub_comment/" method="POST">
           
            <textarea cols=80 rows=3 name='comment_content'></textarea>
            <input type="hidden" name="bbs_id" value="{{bbs_obj.id}}" />
            <input type="submit" value="添加评论" id="id_submit" />
        </form>
    {%else%}
        <p>请<a href="/login/">登录</a>再发帖</p>
    {%endif%}
{% get_comment_list for bbs_obj as comment_list %}
     {% for comment in comment_list reversed %}
            {{ comment.submit_date }}
            <br>
            <a type="font-size:12px;">{{comment.user}}：</a>  {{ comment.comment }}
            <hr>

     {%endfor %}


{% endblock %}
